/*
  a configuração CSS dos componentes do "sobre"
  serão exportadas para o arquivo "sobre.css"
 */

/* mobile */

.sobre__titulo{
  font-size: 1.375rem;
  font-weight: 700;

  margin-bottom: 0.5625rem;
}


/* tablete */

@media screen and (min-width:768px){

  /* sem alterações */

}

/* laptop */

@media screen and (min-width:1024px) {

  .sobre__titulo{
    font-size: 1.68rem;
  }

}

/* desktop */

@media screen and (min-width:1440px) {

  .sobre__titulo{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

}


/* --- fim ;) */