/* 
  todos os seletores do cabeçalho
  exceto a classe 'container'
  que está definda no arquivo 'base.css'.
*/

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav__logo {
  align-items: center;
  display: flex;
  flex-direction: row;

  font-size: 1rem;
}

.header__nav__logo::before {
  content: url(../../imagens/nav-logo.png);

  align-items: center;
  display: flex;

  height: 1.5rem;

  margin-right: 0.5rem;
}

.header__nav__list__item {
  display: none;
}


.header__nav__list__item--single {
  display: flex;
}

.header__nav__link {
  font-size: 0.875rem;
}

/* responsividade tablete */
@media screen and (min-width:764px) {

  .header__nav__list__item--single {
    font-weight: 700;
  }

  .header__nav__list__item {
    font-weight: 500;
  }
}

/* responsividade desktop */
@media screen and (min-width:1024px) {

  header {
    max-width: 71rem;
  }

  .header__nav__list {
    display: flex;
    flex-direction: row;
  }

  .header__nav__list__item {
    display: flex;
    margin-right: 1rem;
  }
}

/* espaçamento links em telas maiores */
@media screen and (min-width:1440px) {

  .header__nav__list__item {
    display: flex;
    margin-right: 2rem;
  }

}