/*
  a configuração CSS dos componentes do "header"
  serão exportadas para o arquivo "header.css"
 */

/* mobile */

.header__container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 1.5rem;

  padding: 1rem;
}

/* tablete */

@media screen and (min-width:768px){

  .header__container{
    padding: 1rem 2rem;
  }

 }

/* laptop */

@media screen and (min-width:1024px) {
 
   .header__container{
     margin: auto;
     padding: 2rem 7rem;

     max-width: 71rem;
   }

 }

 /* desktop */

@media screen and (min-width:1440px) {
  
  .header__container{
    padding: 2rem 9.5rem;

    max-width: 80rem;
  }

}


 /* --- fim ;) */