/*
  a configuração CSS dos componentes do "contato"
  serão exportadas para o arquivo "assets/css/contato/contato.css"
 */

/* mobile */

.contato__container--interno{
  display: flex;
  flex-direction: column;

  gap: 2rem;

  height: 100%;
}

/* tablete */

@media screen and (min-width:768px){



}

/* laptop */

@media screen and (min-width:1024px) {

  .contato__container--interno{
    margin-top: 4rem;
  }

}

/* desktop */

@media screen and (min-width:1440px) {



}


/* --- fim ;) */