/*
  a configuração CSS dos componentes do "contato"
  serão exportadas para o arquivo "assets/css/contato/contato.css"
 */

/* mobile */

.contato__container{
  background-color: var(--azul10);
  box-sizing: border-box;

  align-items: flex-start;
  display: flex;
  flex-direction: column;

  padding: 2rem;
  width: 100vw;
}

/* tablete */

@media screen and (min-width:768px){



}

/* laptop */

@media screen and (min-width:1024px) {

  .contato__container{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
    margin: auto;
    padding: 4rem 7rem;

    /* max-width: 71rem; */
  }


}

/* desktop */

@media screen and (min-width:1440px) {

    .contato__container{
      padding: 4rem 9.5rem;

      width: 100vw;

      /* max-width: 80rem; */
  }

}

/* telas maiores */

@media screen and (min-width:1450px) {

    .contato__container{
      margin: auto;
      padding: 4rem 9.5rem;

      width: 100%;

      /* max-width: 80rem; */
  }

}


/* --- fim ;) */