/*
  a configuração CSS dos componentes do "aside"
  serão exportadas para o arquivo "aside.css"
 */

/* mobile */

.aside__container{
   padding: 1rem;
}

/* tablete */

@media screen and (min-width:768px){

   .aside__container{
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     
     padding: 2rem;
   }

 }

/* laptop */

@media screen and (min-width:1024px) {
 
   .aside__container{
     padding: 2rem 7rem;
     margin: auto;

     max-width: 71rem;
   }

 }

/* desktop */

@media screen and (min-width:1440px) {
  
  .aside__container{
    padding: 0 9.5rem;

    max-width: 80rem;
  }

}

 /* --- fim ;) */