/*
  a configuração CSS dos componentes do "formacao"
  serão exportadas para o arquivo "assets/css/formacao/formacao.css"
 */

/* mobile */

  .formacao__titulo{
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;

    margin-bottom: 1rem;
  }

/* tablete */

@media screen and (min-width:768px){

  /* sem alterações */
}

/* laptop */

@media screen and (min-width:1024px) {

  /* sem alterações */

}

/* desktop */

@media screen and (min-width:1440px) {

  .formacao__titulo{
    font-size: 2rem;
    line-height: 2.375rem;
  }

}


/* --- fim ;) */