[Desktop Entry]
Encoding=UTF-8
Name=Link para alura-challenges/challenge-one-portfolio-br: Repositorio Base para desenvolvimento do Desafio 1 Crie seu próprio Portfólio do Challenge ONE Front end
Type=Link
URL=https://github.com/alura-challenges/challenge-one-portfolio-br
Icon=text-html
Name[pt_BR]=Link repositorio_base-inicial_portfolio
