[Desktop Entry]
Encoding=UTF-8
Name=Link para Challenge ONE Front-End Sprint 01 - Portfólio: Do Figma ao HTML e CSS Portfolio | Alura Cursos Online
Type=Link
URL=https://www.alura.com.br/challenges/oracle-one-front-end/portfolio/portfolio
Icon=text-html
Name[pt_BR]=Link pagina_apresentacao_portfolio
