[Desktop Entry]
Encoding=UTF-8
Name=Link para Alura Challenge - Challenge ONE Front-End: Portfólio - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=N-UexWG3B4o
Icon=text-html
Name[pt_BR]=Link video_apresentacao
