[Desktop Entry]
Encoding=UTF-8
Name=Link para NetoPaiva/portfolio_challenge-t4f3
Type=Link
URL=https://github.com/NetoPaiva/portfolio_challenge-t4f3
Icon=text-html
Name[pt_BR]=Link repositorio_netopaiva_portfolio
