[Desktop Entry]
Encoding=UTF-8
Name=Link para Challenge Front-end Portfólio – Figma
Type=Link
URL=https://www.figma.com/file/Mv4mSxBHzB5caI7bW2tLv6/Challenge-Front-end-Portf%C3%B3lio?node-id=0%3A1
Icon=text-html
Name[pt_BR]=Link figma_projeto-portfolio
