/*
  a configuração CSS dos componentes do "hobbies"
  serão exportadas para o arquivo "assets/css/hobbies/hobbies.css"
 */

/* mobile */

.hobbies__nome{
  font-weight: 700;
  font-size: 1rem;

  padding-top: 0.5rem;
}


/* tablete */

@media screen and (min-width:768px){

  /* sem alterações */

}

/* laptop */

@media screen and (min-width:1024px) {

  /* sem alterações */

}

/* desktop */

@media screen and (min-width:1440px) {

  /* sem alterações */

}


/* --- fim ;) */