/*
  a configuração CSS dos componentes do "projetos"
  serão exportadas para o arquivo "assets/css/projetos/projetos.css"
 */

/* mobile */

.projetos__lista{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  margin-top: 1rem;

  width: 100%;
}

/* tablete */

@media screen and (min-width:768px){

  /* sem alterações */

}

/* laptop */

@media screen and (min-width:1024px) {

  /* sem alterações */

}

/* desktop */

@media screen and (min-width:1440px) {

  /* sem alterações */

}


/* --- fim ;) */